



/*theme-full-with-sidebar*/
.theme-full-with-sidebar {
	background-color: #f1f1f1;
}

.theme-full-with-sidebar .sidebar {
	padding: 20px;
}

.theme-full-with-sidebar .content {
	max-width: 1200px;
	background-color: #fff
}

.theme-full-with-sidebar .sidebar .card{
	box-shadow: none;
}

.theme-full-with-sidebar .card .nav-link {
	padding: 10px 0;
}

.theme-full-with-sidebar .title,
.theme-full-with-sidebar .post {
	padding: 30px;
	margin: 0;
}









