.block {
	margin-top: 30px;
}

.block-categories,
.widget,
.news-feature {
	margin-bottom: 30px;
}


/*頭條新聞*/
.news-feature .title {
	text-align: center;
	font-size: 40px;
	line-height: 1.2;
}

/*新聞列表連結*/
.card .nav-link {
	font-size: 13px;
	font-weight: 300;
}

.card .card-content {
	font-weight: 300;
}

/*區塊標題*/
.block-title {
	font-size: 14px;
	font-weight: 800;
	color: #000;
}

/*頁尾*/
.site-footer {
	padding: 30px 0;
}

.site-footer .nav-link {
	padding-left: 0;
	padding-right: 0;
}

.site-footer .block-title {
	font-size: 20px;
	margin-bottom: 0;
	font-weight: 800;
}

.site-secondary {
	background-color: #f1f1f1;
	padding: 0 0 30px 0;
}

.site-secondary .block-title {
	margin-top: 30px;
}

.site-secondary .card {
	background-color: #fff;
	box-shadow: none
}

/*調整*/
.dark-bg .nav-link {
	font-size: 13px;
	color: #ccc;
}

.dark-bg .block-title {
	color: #fff;
}

/*theme-full-with-sidebar*/
.theme-full-with-sidebar {
	background-color: #f1f1f1;
}

.theme-full-with-sidebar .sidebar {
	padding: 20px;
}

.theme-full-with-sidebar .content {
	max-width: 1200px;
	background-color: #fff
}

.theme-full-with-sidebar .sidebar .card{
	box-shadow: none;
}

.theme-full-with-sidebar .card .nav-link {
	padding: 10px 0;
}

.theme-full-with-sidebar .title,
.theme-full-with-sidebar .post {
	padding: 30px;
	margin: 0;
}









